/****************************************
*    Variables
*****************************************/
:root {
  --white: #ffffff;
  --black: #000000;
  --link: #0000ee;
  --hover: #551a8b;
  --font-family: "Roboto", sans-serif;
}

/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 100%;
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
  font-family: var(--font-family);
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

a:active,
a:hover {
  color: var(--hover);
  text-decoration: underline;
}

ul {
  padding-left: 0;
}

/****************************************
*    Components - Common
*****************************************/
/* Layout */
.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr max-content;
  height: 100vh;
}

@media screen and (min-width: 40em) {
  /* Desktop */
  .home {
    grid-template-columns: auto 1fr max-content;
    grid-column-gap: 1em;
  }
}

/* Intro */
.intro {
  max-width: 1.6em;
  max-height: 100%;
  margin: 0 auto;
  padding: 1em 0 0.5em;
  font-size: 10em;
  font-weight: bold;
  line-height: 0.9;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

@media screen and (min-width: 40em) {
  /* Desktop */
  .intro {
    align-self: center;
    margin-left: 0.5em;
    margin-bottom: 1.2em;
  }
}

@media screen and (min-width: 60em) {
  /* Larger screens */
  .intro {
    align-self: center;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 1.5em;
    padding: 0;
  }
}

/* Header */
.header {
  margin: 0 auto;
}

.header__nombre {
  font-size: 2em;
  font-weight: bolder;
}

.header p {
  font-size: 1.3em;
  line-height: 1.5;
}

@media screen and (min-width: 40em) {
  /* Desktop */
  .home .header {
    align-self: center;
    width: 100%;
  }
}

/* Nav */
.nav {
  padding: 2em;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu li {
  padding-right: 1em;
}

@media screen and (min-width: 40em) {
  /* Desktop */
  .nav {
    margin-top: 8em;
    padding: 0;
  }

  .menu {
    writing-mode: vertical-lr;
    align-items: center;
    width: 160px;
  }

  .menu li {
    padding-right: 0;
    padding-bottom: 2em;
  }
}

.proyectos {
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}

.proyectos-titulo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 33%;
}

.proyectos-titulo span {
  font-size: 180px;
  letter-spacing: 0;
  line-height: 0.8;
}

.proyectos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 40%;
}

img[alt="placeholder"] {
  max-width: 250px;
}

/****************************************
*    Helpers
*****************************************/
.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ayuda visual temporal */
.outline {
  border: 2px dotted blue;
}
