body{
    background-color: hotpink
}
*{
    padding: 1.5%;
}

.parent{
    background-color:pink;
}

.child:nth-child(1){
background-color: gray;
}

.child:nth-child(2){
    background-color: khaki;
}

.child:nth-child(3){
    background-color: black;
}